.gitlab-embed {
  container-type: inline-size;
  display: block;
  padding: var(--size-4-2) var(--size-4-2);
  margin: var(--size-4-2) 0;
  border-radius: var(--radius-m);
  background-color: var(--background-primary-alt);
  border: 1px solid var(--background-modifier-border);
}

.gitlab-embed,
.gitlab-embed:hover,
.gitlab-embed:active {
  color: var(--text-normal);
  text-decoration: none;
}

.gitlab-identifier {
  color: var(--text-faint);
  font-weight: var(--font-light);
}

.gitlab-heading {
  font-size: var(--font-ui-large);
  font-weight: var(--font-bold);
  margin-bottom: var(--size-4-2);
}

.gitlab-repo {
  color: var(--text-faint);
  font-size: var(--font-ui-smaller);
}

.gitlab-details {
  display: flex;
  gap: var(--size-4-6);
  align-items: center;
  flex-wrap: wrap;
}

.gitlab-date {
  color: var(--text-faint);
  font-size: var(--font-ui-small);
}

.gitlab-author {
  display: flex;
  align-items: center;
  gap: var(--size-4-2);
  color: var(--text-faint);
  font-size: var(--font-ui-small);
}

.gitlab-author-avatar {
  width: var(--size-4-6);
  border-radius: 9999px;
}

.gitlab-labels {
  display: none;
}

/* Context: .gitlab-embed */
@container (min-width: 360px) {
  .gitlab-labels {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-4-2);
    align-items: center;
  }
}

.gitlab-label {
  text-wrap: nowrap;
  border-radius: 9999px;
  padding: var(--size-4-1) var(--size-4-2);
  background-color: #444;
  color: white;
  font-size: var(--font-smallest);
}
