.gitlab-embed {
  display: block;
  padding: var(--size-4-2) var(--size-4-2);
  border-radius: var(--radius-m);
  background-color: var(--background-primary-alt);
  border: 1px solid var(--background-modifier-border);
}

.gitlab-embed,
.gitlab-embed:hover,
.gitlab-embed:active {
  color: var(--text-normal);
  text-decoration: none;
}

.gitlab-identifier {
  color: var(--text-faint);
}

.gitlab-heading {
  font-size: var(--font-ui-large);
}

.gitlab-repo {
  color: var(--text-faint);
  font-size: var(--font-ui-smaller);
}

.gitlab-date {
  color: var(--text-faint);
  font-size: var(--font-ui-small);
}
.gitlab-author {
  color: var(--text-faint);
  font-size: var(--font-ui-small);
}
