name: "E2E Tests"
on:
  push:
    branches: ["main"]
  pull_request:
jobs:
  test:
    runs-on: "ubuntu-latest"
    steps:
      # 1. Checkout code
      - uses: "actions/checkout@v3"
      # 2. Setup Node.js
      - name: "Setup Node.js"
        uses: "actions/setup-node@v3"
        with:
          node-version: 20
      # 3. Install playwright, plugin dependencies and build
      - name: "Install playwright, plugin dependencies and build plugin"
        run: |
          npm ci
          npm run build
          npx playwright install
      # 4. Install Obsidian
      # TODO: This needs to be in sync with the version we're developing with
      - name: "Install Obsidian"
        run: |
          wget https://github.com/obsidianmd/obsidian-releases/releases/download/v1.11.5/Obsidian-1.11.5.AppImage
          chmod +x Obsidian-1.11.5.AppImage
          echo "OBSIDIAN_PATH=$PWD/Obsidian-1.11.5.AppImage" >> $GITHUB_ENV
      # 5. Prepare a fake vault
      - name: "Setup test vault"
        run: |
          mkdir -p vault/.obsidian/plugins/obsidian-gitlab-plugin
          cp main.js styles.css manifest.json package.json vault/.obsidian/plugins/obsidian-gitlab-plugin/
      # 6. Run Obsidian with Xvfb
      - name: "Run Obsidian with Xvfb"
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            xvfb \
            libgtk-3-0 \
            libx11-xcb1 \
            libnss3 \
            libasound2-data \
            libasound2-plugins \
            libxss1 \
            libgbm1
          Xvfb :99 -screen 0 1024x768x24 &
          export DISPLAY=:99
      # 7. Run tests
      - name: "Run tests"
        run: "npm run test"
